PORT_API=3001
PORT_WS=3002
WA_AUTH_ROOT=./sessions
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=yourpassword
MYSQL_DATABASE=whatsapp_panel
JWT_SECRET=replace_this_with_strong_secret
OTP_TTL_SECONDS=300
BROADCAST_MAX_RECIPIENTS=2000
BROADCAST_CONCURRENCY=5
MEDIA_DIR=./media
